.nav-custom {
  background-color: lightpink;
  min-width: 200px;
}

.nav-item {
  font-family: monospace;
}

.res-dash {
  font-family: monospace;
}

.create-custom {
  color: white;
  font-family: monospace;
}

.text-custom {
  font-family: monospace;
  color: #5E2D51;
}




